{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
<h2  style="text-align: center;">La filosofía de dalas como la de cualquier persona es valida es muy resultadista y poco abierta a detenerse un momento en el caos aunquesea para entender que carajo está pasando.
     No, el tiene una filosofía muy estricta en la cual las cosas son de una manera, esto es bueno y esto otro es malo. 
     Lo cual si, da cierto grado de seguridad y control que las cosas sean maso menos de una menera. 
     Pero... ¿que sabemos nosotros los seres humanos? Estamos sujetados por un montón de factores como las emociones, instintos, ideas, conceptos, experiencias, sentidos, etc. 
     Que vamos a saber nosotrs? ¿Tiene sentido que seamos tan estrictos con una manera de ver las cosas? ahí es otra la cuestión pero,
      ¿Por qué no tendría sentido tener una mirada abierta hacia las cosas, tan abierta como duda de esto mismo que estoy escribiendo? 
      ¿O sucederá que por tener la cabeza tan abierta, se me caera el cerebro? Osea, 
      hay que tener cierto grado de la mirada abierta a la cosa donde nada es de una manera porque nosotros como sujeto pensante somos imperfectos pero,
       también hay que tener cierto grado de la mirada estricta donde determinamos que las cosas son de una manera por más que nos podamos equivocar. 
       Para que justamente, no se "nos caiga el cerebro"
</h2>
{% endblock contenido %}